Configurações

 - Editar o `.github/CODEOWNERS` e deixar apenas os times relevantes para o projeto
 - Entrar no CircleCi e ativar os builds para esse projeto
 - Conferir que os dados foram enviados ao codecov.io

# Nome do Projeto

Descrição breve sobre o projeto

# Como rodar o projeto


# Como rodar os testes
